<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divece-width initial-scale=1.0">
    <title> Blog node | Seu blog de tecnologia </title> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo_blog-node.png" alt="Logo blog-node" class="app-logo"></a>
    <div class="search">
        <input type="text" name="search" placeholder="Pesquisar">
    </div>
    </header>
